<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleSerialSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SimpleSerialSender.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="UseTLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexString1" serializeAs="String">
                <value>48 65 6C 6C 6F 20 57 6F 72 6C 64 0A 0D</value>
            </setting>
            <setting name="HexString2" serializeAs="String">
                <value />
            </setting>
            <setting name="HexString3" serializeAs="String">
                <value />
            </setting>
            <setting name="HexString4" serializeAs="String">
                <value />
            </setting>
            <setting name="HexString5" serializeAs="String">
                <value />
            </setting>
            <setting name="HexString6" serializeAs="String">
                <value />
            </setting>
        </SimpleSerialSender.Properties.Settings>
    </userSettings>
</configuration>